Repository masugengen/mash_toybox: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:sass

:zap: update
  .husky/commit-msg
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-commit
  .husky/pre-push
  src/assets/scripts/top.ts
Due: npm run lint:js

:zap: update sample
  package.json
  src/assets/scripts/top.ts
  src/assets/styles/outer.scss
  src/ejs/_includes/_layout/_header.ejs
  src/ejs/index.ejs
  static/assets/dummy/400x240.png
  static/assets/dummy/800x240.png
Due: npm run lint:js, npm run lint:sass

:zap: update module
  .eslintrc.json
  .gitlab-ci.yml
  package-lock.json
  package.json
  src/assets/scripts/modules/carousel.ts
  src/assets/scripts/modules/swiper.ts
  src/assets/scripts/top.ts
  src/assets/styles/core/_setting.scss
  src/assets/styles/layout/_footer.scss
  src/assets/styles/layout/_header.scss
  src/assets/styles/top.scss
  src/assets/styles/unique/top/modules/_carousel/_top-carousel.scss
  src/ejs/_includes/_layout/_footer.ejs
  src/ejs/_includes/_layout/_header.ejs
  src/ejs/_includes/_outer/top.ejs
  src/ejs/_includes/_resource/_head-top.ejs
  src/ejs/index.ejs
  src/ejs/sample.ejs
  static/assets/dummy/1920x700.png
  static/assets/image/ico-pagetop.svg
  static/assets/image/logo.png
Due: npm run lint:js, npm run lint:sass

:sparkles: add sample page
  src/assets/scripts/modules/carousel.ts
  src/assets/styles/layout/_header.scss
  src/assets/styles/top.scss
  src/assets/styles/unique/top/layout/_index.scss
  src/assets/styles/unique/top/layout/_top-section-bnr.scss
  src/assets/styles/unique/top/layout/_top-section-strength.scss
  src/assets/styles/unique/top/layout/_top-section.scss
  src/assets/styles/unique/top/modules/_carousel/_index.scss
  src/assets/styles/unique/top/modules/_carousel/_top-carousel-arrow.scss
  src/assets/styles/unique/top/modules/_carousel/_top-carousel-pagination.scss
  src/assets/styles/unique/top/modules/_carousel/_top-carousel-playbtn.scss
  src/assets/styles/unique/top/modules/_carousel/_top-carousel-progress.scss
  src/ejs/_includes/_sidenav/_sample.ejs
  src/ejs/index.ejs
  src/ejs/sample.ejs
Due: npm run lint:js, npm run lint:sass

:books: rerwite readme.md
  README.md
Due: none

Path conditions:
  npm run lint:js: any of: ./src/assets/scripts/**/*.ts
  npm run lint:sass: any of: ./src/assets/styles/**/*.scss
